@model Test_Online.Models.Member


@using (Ajax.BeginForm("Update", "Acount", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "checkName" }))
{
    @Html.AntiForgeryToken()

    <div class="col-md-12" style="height:400px">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Rank)
        @Html.HiddenFor(model => model.Type_Member_Id)

        <div class="modal-content">
            <div class="modal-header">
                
                <div class="signin-form profile" style="height:300px">
                    <h3 class="agileinfo_sign">Thay đổi thông tin cá nhân</h3>
                    <div class="login-form">
                        <form action="#" method="post">
                            <input type="text" name="name" placeholder="Username" required="" id="name">
                            
                            <input type="email" name="email" placeholder="Email" required="" id="email">
                            <input type="password" name="password" placeholder="Password" required="" id="password">
                            
                            <input type="submit" value="Sign Up" id="btnSignUp">
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>
}


