@using Test_Online.Models;

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Layout/web/Home_Layout.cshtml";

    IEnumerable<Document> lstDocument = ViewBag.lstDocument;
    IEnumerable<Question> lstQuestion = ViewBag.lstQuestion;
    IEnumerable<News> lstNews = ViewBag.lstNews;
}

<div class="container" style="margin-bottom:500px">
    <div>
        <h3 class="agileinfo_sign">Kết quả tìm kiếm</h3>
        <hr />
    </div>
    <div style="margin-bottom:40px;">
        <div class="col-md-12 agileinfo_sign" style="margin-bottom:30px">
            <div class="col-md-3">
                <span style="font-weight:bold">Loại thông tin : </span>
                <select required  name="typeInfo">
                    <option value="1">Tài liệu</option>
                    <option value="2">Câu hỏi</option>
                    <option value="3">Tin tức</option>
                </select>
            </div>
            <div class="col-md-3">
                <span style="font-weight:bold">Môn học : </span>
                <select required  name="typeInfo">
                    <option value="1">Tài liệu</option>
                    <option value="2">Câu hỏi</option>
                    <option value="3">Tin tức</option>
                </select>
            </div>
            <div class="col-md-3">
                <span style="font-weight:bold" >Chủ đề : </span>
                <select required  name="typeInfo">
                    <option value="1">Tài liệu</option>
                    <option value="2">Câu hỏi</option>
                    <option value="3">Tin tức</option>
                </select>
            </div>
            <div class="col-md-2">
                <span style="font-weight:bold">Độ khó : </span>
                <select required  name="typeInfo">
                    <option value="1">Tài liệu</option>
                    <option value="2">Câu hỏi</option>
                    <option value="3">Tin tức</option>
                </select>
            </div>
            <div class="col-md-1">
                <button class="btn btn-success">Lọc</button>
            </div>
        </div>
       
        <div class="col-md-12" style="background-color:#808080; height:1px"></div>
    </div>
    
    <div>
       @if (lstDocument.Count() != 0)
       {
           for (int i = 0; i < lstDocument.Count(); i++)
           {
                
               <div style="margin-bottom:20px">
                   <i class="fa fa-long-arrow-right" aria-hidden="true"></i><a style="font-size:16px; color:#6c2d2d" href="@Url.Action("Review","Document", new { @id = lstDocument.ElementAt(i).Id})">@lstDocument.ElementAt(i).Link</a>
               </div>
           }
       }
    </div>
    <div>
        @if (lstQuestion.Count() != 0)
        {
            for (int i = 0; i < lstQuestion.Count(); i++)
            {
                <div style="margin-bottom:20px">
                   <i class="fa fa-long-arrow-right" aria-hidden="true"></i><a style="font-size:16px;color:#6c2d2d" href="@Url.Action("QuestionDetail","Question", new { @questionId = lstQuestion.ElementAt(i).Id})">@Html.Raw(lstQuestion.ElementAt(i).Title)</a>
               </div>            }
        }
    </div>
    <div>
        @if (lstNews.Count() != 0)
        {
            for (int i = 0; i < lstNews.Count(); i++)
            {
                <div style="margin-bottom:20px">
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i><a style="font-size:16px; color:#6c2d2d" href="@Url.Action("NewsDetail","News", new { @newsId = lstNews.ElementAt(i).Id})">@Html.Raw(lstNews.ElementAt(i).title)</a>
                </div>
            }
        }
    </div>
</div>

