@using Test_Online.Models;

@{
    ViewBag.Title = "ToTest";
    Layout = "~/Views/Layout/web/Home_Layout.cshtml";

    IEnumerable<Question> lstQuestion = ViewBag.lstQuestion;
    List<Answer> lstAnswer = new List<Answer>();
    int rank = ViewBag.rank;
}
<div class="container" style="margin-bottom: 50px">
    @using (Html.BeginForm("ResultTest", "Exam"))
    {

     @Html.Hidden("subjectId", lstQuestion.First().Subject_Id)
     @Html.Hidden("topicId", lstQuestion.First().Topic_Id)
     @Html.Hidden("rank", rank)
    
    <div class="col-md-1">
        
    </div>
    <div class="col-md-10" style="border: 1px solid black; border-radius: 5px">
        <div style="height: 100px; margin-top:20px">
            <div class="col-md-6" style="text-align:center">

            </div>
            <div class="col-md-6" style="border:1px solid black; text-align:center">
                <h3>Đề thi thử đại học tại testonline.com</h3><br />
                <span style="font-weight:bold">Môn: @lstQuestion.First().Subject.Name</span><br />
                <i>Thời gian làm bài 40 phút : không kể thời gian giao đề</i>
            </div>
        </div>
        
        <div style="margin-top:30px">
            @for (int i = 0; i < lstQuestion.Count(); i++)
            {
                if (i % 2 == 0)
                {
            <div class="col-md-12" style="margin-top: 20px">
                <div style="font-size: 15px;">
                    <span style="font-weight:bold">Câu @(i + 1):</span>  @Html.Raw(lstQuestion.ElementAt(i).Title)
                </div>

                @for (int j = 0; j < lstQuestion.ElementAt(i).Answers.Count(); j++)
                    {
                        <div class="col-md-12">
                            <input type="radio" class="ckb_click" style="width: 20px" name="@Url.Content("[" + i + "].Id")" value="@lstQuestion.ElementAt(i).Answers.ElementAt(j).Id" />
                            @if (j == 0)
                                {
                                <span style="font-size: 13px;font-weight: bold">
                                    A. @Html.Raw(lstQuestion.ElementAt(i).Answers.ElementAt(j).Content)
                                </span>
                                }
                                else if (j == 1)
                                {
                                <span style="font-size: 13px;font-weight: bold">
                                    B. @Html.Raw(lstQuestion.ElementAt(i).Answers.ElementAt(j).Content)
                                </span>
                                }
                                else if (j == 2)
                                {
                                <span style="font-size: 13px;font-weight: bold">
                                    C. @Html.Raw(lstQuestion.ElementAt(i).Answers.ElementAt(j).Content)
                                </span>
                                }
                                else
                                {
                                <span style="font-size: 13px;font-weight: bold">
                                    D. @Html.Raw(lstQuestion.ElementAt(i).Answers.ElementAt(j).Content)
                                </span>
                                }

                        </div>
                        }

            </div>
                }
                else
                {
            <div class="col-md-12" style="background-color:#eef2f2; margin-top: 20px">
                <div style="font-size: 15px;">
                    <span style="font-weight:bold">Câu @(i + 1):</span>  @Html.Raw(lstQuestion.ElementAt(i).Title)
                </div>

                @for (int j = 0; j < lstQuestion.ElementAt(i).Answers.Count(); j++)
                    {
                        <div class="col-md-12">
                            <input type="radio" class="ckb_click" style="width: 20px" name="@Url.Content("[" + i + "].Id")" value="@lstQuestion.ElementAt(i).Answers.ElementAt(j).Id" />
                            @if (j == 0)
                                {
                                <span style="font-size: 13px;font-weight: bold">A. @Html.Raw(lstQuestion.ElementAt(i).Answers.ElementAt(j).Content)</span>
                                }
                                else if (j == 1)
                                {
                                <span style="font-size: 13px;font-weight: bold">B. @Html.Raw(lstQuestion.ElementAt(i).Answers.ElementAt(j).Content)</span>
                                }
                                else if (j == 2)
                                {
                                <span style="font-size: 13px;font-weight: bold">C. @Html.Raw(lstQuestion.ElementAt(i).Answers.ElementAt(j).Content)</span>
                                }
                                else
                                {
                                <span style="font-size: 13px;font-weight: bold">D. @Html.Raw(lstQuestion.ElementAt(i).Answers.ElementAt(j).Content)</span>
                                }

                        </div>
                        }

            </div>
                }

            }
        </div>

        <div class="col-md-12" style="height: 100px; margin-top:20px; text-align:center">
            <input type="submit" class="btn btn-primary" value="Nộp bài" />
        </div>
    </div>
    <div class="col-md-1">
        <div id="time_mount" style="text-align:center; margin-top:15%; position:fixed; float:right; font-weight:bold">
            Thời gian còn lại 
            <br />
            <img src="~/Content/web/images/clock.jpg" height="30" width="30" />
            <span id="count_down"></span>
        </div>
    </div>
    <script>
    $(".ckb_click").click(function () {
        i = 0;
        $(".ckb_click").each(function () {
            if ($(this).is(':checked')) {
                $(this).attr("name", "[" + i + "].Id");
                i++;
            }
        })
    })
    </script>
    }
</div>
<script>
    function startTimer(duration, display) {
        var start = Date.now(),
            diff,
            minutes,
            seconds;
        function timer() {
            // get the number of seconds that have elapsed since 
            // startTimer() was called
            diff = duration - (((Date.now() - start) / 1000) | 0);

            // does the same job as parseInt truncates the float
            minutes = (diff / 60) | 0;
            seconds = (diff % 60) | 0;

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = minutes + ":" + seconds;

            if (diff <= 0) {
                // add one second so that the count down starts at the full duration
                // example 05:00 not 04:59
                start = Date.now() + 1000;
            }
        };
        // we don't want to wait a full second before the timer starts
        timer();
        setInterval(timer, 1000);
    }

    window.onload = function () {
        var fiveMinutes = 60 * 40,
            display = document.querySelector('#count_down');
        startTimer(fiveMinutes, display);
    };
</script>