@using Test_Online.Models

@{
    ViewBag.Title = "ResultTest";
    Layout = "~/Views/Layout/web/Home_Layout.cshtml";

    float score = ViewBag.Score;
    int numberTrue = ViewBag.NumberTrue;
    List<Question> lstQuestion = ViewBag.lstQuestion;
    List<Answer> lstAnswer = ViewBag.lstAnswer;
}

<div class="container" >
    <div class="col-md-4" style="border:1px solid black">
        <div style="text-align:center;">
            <span style="font-size: 25px; font-weight:bold">Điểm</span>
        </div>
        <hr />
        <div style="height:120px; text-align:center;">
            <span style="font-size:50px;">@score</span><br />
            <span><b>Số câu đúng : </b>@numberTrue</span><br />
        </div>
    </div>
    <div class="col-md-8" style="border:1px solid black">
        <div style="text-align:center;">
            <span style="font-size: 25px; font-weight:bold">Xem đáp án và lời giải</span>
        </div>
        <hr />
        <div style="height:120px; text-align:center">
            @using (Ajax.BeginForm("GetAnswer", "Exam", new AjaxOptions { @UpdateTargetId = "AjaxReplace", InsertionMode = InsertionMode.Replace }))
            {
                @Html.Hidden("subjectId", lstQuestion.First().Subject_Id)
                @Html.Hidden("topicId", lstQuestion.First().Topic_Id)
                <input type="submit" style="margin-top:20px" class="btn btn-default" value="Xem đáp án" id="show_answer" />
            }
        </div>
    </div>
</div>
<div class="container" style="margin-top: 50px; margin-bottom: 100px">
    <div class="col-md-1">

    </div>
    <div class="col-md-10" style="border: 1px solid black; border-radius: 5px">
        <div style="height: 100px; margin-top:20px">
            <div class="col-md-6" style="text-align:center">

            </div>
            <div class="col-md-6" style="border:1px solid black; text-align:center">
                <h3>Đề thi thử đại học tại testonline.com</h3><br />
                <span style="font-weight:bold">Môn: @lstQuestion.First().Subject.Name</span><br />
                <i>Thời gian làm bài 40 phút : không kể thời gian giao đề</i>
            </div>
        </div>

        <div style="margin-top:30px">
            @for (int i = 0; i < lstQuestion.Count(); i++)
            {
                if (i % 2 == 0)
                {
                    <div class="col-md-12" style="margin-top: 20px">
                        <div style="font-size: 15px;">
                            <span style="font-weight:bold">Câu @(i + 1):</span>  @Html.Raw(lstQuestion.ElementAt(i).Title)
                        </div>

                        
                        @for (int j = 0; j < lstQuestion.ElementAt(i).Answers.Count(); j++)
                        {
                            
                            <div class="col-md-12">
                                @for (int k = 0; k < lstAnswer.Count(); k++)
                                {
                                    if (lstAnswer.ElementAt(k).Id == lstQuestion.ElementAt(i).Answers.ElementAt(j).Id)
                                    {
                                        <input type="radio" style="width: 20px" checked="checked" />
                                        break;
                                    }
                                   
                                }
                                @if (lstQuestion.ElementAt(i).Answers.ElementAt(j).IsTrue == true)
                                {

                                    
                                    if (j == 0)
                                    {
                                        <span style="font-size: 13px;font-weight: bold; background-color:#bfb0b0;font-style:italic">
                                            A. @Html.Raw(lstQuestion.ElementAt(i).Answers.ElementAt(j).Content)
                                        </span>
                                    }
                                    else if (j == 1)
                                    {
                                        <span style="font-size: 13px;font-weight: bold; background-color:#bfb0b0;font-style:italic">
                                            B. @Html.Raw(lstQuestion.ElementAt(i).Answers.ElementAt(j).Content)
                                        </span>
                                    }
                                    else if (j == 2)
                                    {
                                        <span style="font-size: 13px;font-weight: bold; background-color:#bfb0b0;font-style:italic">
                                            C. @Html.Raw(lstQuestion.ElementAt(i).Answers.ElementAt(j).Content)
                                        </span>
                                    }
                                    else
                                    {
                                        <span style="font-size: 13px;font-weight: bold; background-color:#bfb0b0;font-style:italic">
                                            D. @Html.Raw(lstQuestion.ElementAt(i).Answers.ElementAt(j).Content)
                                        </span>
                                    }
                                }
                                else
                                {
                                    
                                    if (j == 0)
                                    {
                                        <span style="font-size: 13px;font-weight: bold">
                                            A. @Html.Raw(lstQuestion.ElementAt(i).Answers.ElementAt(j).Content)
                                        </span>
                                    }
                                    else if (j == 1)
                                    {
                                        <span style="font-size: 13px;font-weight: bold">
                                            B. @Html.Raw(lstQuestion.ElementAt(i).Answers.ElementAt(j).Content)
                                        </span>
                                    }
                                    else if (j == 2)
                                    {
                                        <span style="font-size: 13px;font-weight: bold">
                                            C. @Html.Raw(lstQuestion.ElementAt(i).Answers.ElementAt(j).Content)
                                        </span>
                                    }
                                    else
                                    {
                                        <span style="font-size: 13px;font-weight: bold">
                                            D. @Html.Raw(lstQuestion.ElementAt(i).Answers.ElementAt(j).Content)
                                        </span>
                                    }
                                }



                            </div>
                        }

                    </div>
                }
                else
                {
                    <div class="col-md-12" style="background-color:#eef2f2; margin-top: 20px">
                        <div style="font-size: 15px;">
                            <span style="font-weight:bold">Câu @(i + 1):</span>  @Html.Raw(lstQuestion.ElementAt(i).Title)
                        </div>

                        @for (int j = 0; j < lstQuestion.ElementAt(i).Answers.Count(); j++)
                    {
                            <div class="col-md-12">
                                @for (int k = 0; k < lstAnswer.Count(); k++)
                                {
                                    if (lstAnswer.ElementAt(k).Id == lstQuestion.ElementAt(i).Answers.ElementAt(j).Id)
                                    {
                                        <input type="radio" style="width: 20px" checked="checked" />
                                        break;
                                    }

                                }
                                @if (lstQuestion.ElementAt(i).Answers.ElementAt(j).IsTrue == true)
                                {
                                    
                                    if (j == 0)
                                    {
                                        <span style="font-size: 13px;font-weight: bold; background-color:#bfb0b0;font-style:italic">
                                            A. @Html.Raw(lstQuestion.ElementAt(i).Answers.ElementAt(j).Content)
                                        </span>
                                    }
                                    else if (j == 1)
                                    {
                                        <span style="font-size: 13px;font-weight: bold; background-color:#bfb0b0;font-style:italic">
                                            B. @Html.Raw(lstQuestion.ElementAt(i).Answers.ElementAt(j).Content)
                                        </span>
                                    }
                                    else if (j == 2)
                                    {
                                        <span style="font-size: 13px;font-weight: bold; background-color:#bfb0b0;font-style:italic">
                                            C. @Html.Raw(lstQuestion.ElementAt(i).Answers.ElementAt(j).Content)
                                        </span>
                                    }
                                    else
                                    {
                                        <span style="font-size: 13px;font-weight: bold; background-color:#bfb0b0;font-style:italic">
                                            D. @Html.Raw(lstQuestion.ElementAt(i).Answers.ElementAt(j).Content)
                                        </span>
                                    }
                                }
                                else
                                {
                                    
                                    if (j == 0)
                                    {
                                        <span style="font-size: 13px;font-weight: bold">
                                            A. @Html.Raw(lstQuestion.ElementAt(i).Answers.ElementAt(j).Content)
                                        </span>
                                    }
                                    else if (j == 1)
                                    {
                                        <span style="font-size: 13px;font-weight: bold">
                                            B. @Html.Raw(lstQuestion.ElementAt(i).Answers.ElementAt(j).Content)
                                        </span>
                                    }
                                    else if (j == 2)
                                    {
                                        <span style="font-size: 13px;font-weight: bold">
                                            C. @Html.Raw(lstQuestion.ElementAt(i).Answers.ElementAt(j).Content)
                                        </span>
                                    }
                                    else
                                    {
                                        <span style="font-size: 13px;font-weight: bold">
                                            D. @Html.Raw(lstQuestion.ElementAt(i).Answers.ElementAt(j).Content)
                                        </span>
                                    }
                                }



                            </div>
                        }

                    </div>
                }

            }
        </div>
    </div>
    <div class="col-md-1">

    </div>
</div>

<script>
    $("#show_answer").click(function () {
        $("#loadingshow").show();
    });
</script>
