@using Test_Online.Models;

@{
    ViewBag.Title = "ToTest";
    Layout = "~/Views/Layout/web/Home_Layout.cshtml";

    IEnumerable<Question> lstQuestion = ViewBag.lstSubject;
}
<div class="container" style="margin-bottom: 50px">
    <div class="col-md-1"></div>
    <div class="container col-md-10" style="border: 1px solid black; border-radius: 5px">
        <div style="height: 100px; margin-top:20px">
            <div class="col-md-6">

            </div>
            <div class="col-md-6" style="border:1px solid black; text-align:center">
                <h3>Đề thi thử đại học tại testonline.com</h3><br />
                <span style="font-weight:bold">Môn: @lstQuestion.First().Subject.Name</span><br />
                <i>Thời gian làm bài 90 phút : không kể thời gian giao đề</i>
            </div>
        </div>
        <div style="margin-top:40px">
            @for (int i = 0; i < lstQuestion.Count(); i++)
            {
                if (i % 2 == 0)
                {
                    <div class="col-md-12" style="margin-top: 20px">
                        <div style="font-size: 15px;">
                            <span style="font-weight:bold">Câu @(i + 1):</span>  @Html.Raw(lstQuestion.ElementAt(i).Title)
                        </div>

                        @for (int j = 0; j < lstQuestion.ElementAt(i).Answers.Count(); j++)
                    {
                            <div class="col-md-12">
                                <input type="radio" name="cauhoi @i" style="width: 20px" />
                                @if (j == 0)
                                {
                                    <span style="font-size: 13px;font-weight: bold">A. @Html.Raw(lstQuestion.ElementAt(i).Answers.ElementAt(j).Content)</span>
                                }
                                else if (j == 1)
                                {
                                    <span style="font-size: 13px;font-weight: bold">B. @Html.Raw(lstQuestion.ElementAt(i).Answers.ElementAt(j).Content)</span>
                                }
                                else if (j == 2)
                                {
                                    <span style="font-size: 13px;font-weight: bold">C. @Html.Raw(lstQuestion.ElementAt(i).Answers.ElementAt(j).Content)</span>
                                }
                                else
                                {
                                    <span style="font-size: 13px;font-weight: bold">D. @Html.Raw(lstQuestion.ElementAt(i).Answers.ElementAt(j).Content)</span>
                                }

                            </div>
                        }

                    </div>
                }
                else
                {
                    <div class="col-md-12" style="background-color:#eef2f2; margin-top: 20px">
                        <div style="font-size: 15px;">
                            <span style="font-weight:bold">Câu @(i + 1):</span>  @Html.Raw(lstQuestion.ElementAt(i).Title)
                        </div>

                        @for (int j = 0; j < lstQuestion.ElementAt(i).Answers.Count(); j++)
                    {
                            <div class="col-md-12">
                                <input type="radio" name="cauhoi @i" style="width: 20px" />
                                @if (j == 0)
                                {
                                    <span style="font-size: 13px;font-weight: bold">A. @Html.Raw(lstQuestion.ElementAt(i).Answers.ElementAt(j).Content)</span>
                                }
                                else if (j == 1)
                                {
                                    <span style="font-size: 13px;font-weight: bold">B. @Html.Raw(lstQuestion.ElementAt(i).Answers.ElementAt(j).Content)</span>
                                }
                                else if (j == 2)
                                {
                                    <span style="font-size: 13px;font-weight: bold">C. @Html.Raw(lstQuestion.ElementAt(i).Answers.ElementAt(j).Content)</span>
                                }
                                else
                                {
                                    <span style="font-size: 13px;font-weight: bold">D. @Html.Raw(lstQuestion.ElementAt(i).Answers.ElementAt(j).Content)</span>
                                }

                            </div>
                        }

                    </div>
                }

            }
        </div>

        <div class="col-md-12" style="height: 100px; margin-top:20px; text-align:center">
            <button class="btn-primary btn">Nộp bài</button>
        </div>
    </div>
    <div class="col-md-1">

    </div>

</div>