@using Test_Online.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/web/Home_Layout.cshtml";
    IEnumerable<Topic> lstTopic = ViewBag.lstTopic;
}

<div class="container">
    <div class="col-md-12" style="height: 28px; background-color:#4e9b1f; margin-bottom: 20px">
        <span style="color:white; font-size: 20px;font-weight:bold">Các chủ đề @ViewBag.nameSubject</span>
        <div class="col-md-12" style="background-color:#ede7e7; height:1px"></div>
    </div>

    <div class="agileits_banner_bottom_grids">
        @for (int i = 0; i < lstTopic.Count(); i++)
            {
            <div class="col-md-3 agileits_banner_bottom_grid">
                <div class="hovereffect w3ls_banner_bottom_grid">
                    <a href="@Url.Action("Index", "Question", new { @topicid = lstTopic.ElementAt(i).Id})"><img height="150" src="@Url.Content("~/Content/common/images/" + lstTopic.ElementAt(i).Image)" alt=" " /></a>
                </div>
                <div class="w3-agile-post-info" style="margin : 20px; text-align:center">
                    <a href="@Url.Action("Index", "Question", new { @topicid = lstTopic.ElementAt(i).Id})" style="color:black; font-size: 13px; font-weight: bold">@lstTopic.ElementAt(i).Name</a>

                </div>
            </div>
        }


        <div class="clearfix"> </div>
    </div>

</div>

