<!DOCTYPE html>
<html lang="en">
<head>
    <title>Test_Online</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Mastering Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    
    <meta property="og:url" content="http://localhost:55702" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Your Website Title" />
    <meta property="og:description" content="Your description" />
    <meta property="og:image" content="http://www.your-domain.com/path/image.jpg" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <!-- //custom-theme -->
    <link href="~/Content/web/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/web/css/JiSlider.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/web/css/flexslider.css" type="text/css" media="screen" property="" />

    <link href="~/Content/web/css/style.css" rel="stylesheet" type="text/css" media="all" />

    <link rel="stylesheet" href="~/Content/web/css/flexslider.css" type="text/css" media="screen" property="" />
    <!-- font-awesome-icons -->
    <link href="~/Content/web/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    
    @*<link href="//fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>*@
    <script src="~/Scripts/jquery-1.10.2.intellisense.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

</head>

<body>
    <!-- banner -->
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '388016578297893',
                xfbml: true,
                version: 'v2.9'
            });
            FB.AppEvents.logPageView();
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
   @Html.Action("Banner", "Partial")
   
    @Html.Action("SlideBar", "Partial")
   
    @RenderBody()

    @Html.Action("BannerBottom", "Partial")
   
    @Html.Action("Footer", "Partial")
   
    <script type="text/javascript" src="~/Content/web/js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <script src="~/Content/web/js/JiSlider.js"></script>
    <script>
			$(window).load(function () {
				$('#JiSlider').JiSlider({color: '#fff', start: 3, reverse: true}).addClass('ff')
			})
    </script>
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

    </script>
    <!-- stats -->
    <script src="~/Content/web/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/web/js/jquery.countup.js"></script>
    <script>
			$('.counter').countUp();
    </script>
    <!-- //stats -->
    <!-- //footer -->
    <!-- flexSlider -->
    <script defer src="~/Content/web/js/jquery.flexslider.js"></script>
    <script type="text/javascript">
		$(window).load(function(){
		  $('.flexslider').flexslider({
			animation: "slide",
			start: function(slider){
			  $('body').removeClass('loading');
			}
		  });
		});
    </script>
    <!-- //flexSlider -->


    <script type="text/javascript" src="~/Content/web/js/move-top.js"></script>
    <script type="text/javascript" src="~/Content/web/js/easing.js"></script>
    <script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
    </script>
    <!-- start-smoth-scrolling -->
    <!-- for bootstrap working -->
    <script src="~/Content/web/js/bootstrap.js"></script>
    <!-- //for bootstrap working -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
    </script>
    <!-- //here ends scrolling icon -->
</body>
</html>