@using Test_Online.Models;
@model IEnumerable<Document>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/web/Home_Layout.cshtml";

    IEnumerable<Document> lstDocument = ViewBag.lstDocument;
}

<div class="container" style="margin-bottom: 500px">
    <div class="col-md-12" style="height: 28px; background-color:#4e9b1f; margin-bottom: 20px">
        <span style="color:white; font-size: 20px;font-weight:bold">Tài liệu tham khảo: @ViewBag.nameTopic</span>
        <div class="col-md-12" style="background-color:#ede7e7; height:1px"></div>
    </div>
    <div class="col-md-12">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Tiêu đề</th>
                    <th>Người đăng</th>
                    <th>Đánh giá</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < lstDocument.Count(); i++)
                {
                    <tr>
                        <td style="color:black" class="col-md-4"><span style="font-weight:bold">Tài liệu @(i + 1) : </span> @Html.Raw(lstDocument.ElementAt(i).Link)</td>
                        <td style="color:black" class="col-md-3">@lstDocument.ElementAt(i).Member.Name</td>
                        <td style="color:black" class="col-md-2">
                            <span class="fa fa-star checked" id="1s"></span>
                            <span class="fa fa-star checked" id="2s"></span>
                            <span class="fa fa-star checked" id="3s"></span>
                            <span class="fa fa-star checked" id="4s"></span>
                            <span class="fa fa-star " id="5s"></span>
                        </td>

                        <td style="color:black" class="col-md-2"><a class="btn btn-default" style="color:black" href="@Url.Action("Review", "Document", new { @id = @lstDocument.ElementAt(i).Id })">Xem trước</a></td>
                        <td style="color:black" class="col-md-1"><a class="btn btn-primary" style="color:white" href="@Url.Action("DownLoadDocument", "Document", new { @id = @lstDocument.ElementAt(i).Id })">Tải về</a></td>
                    </tr>
                   
                }
            </tbody>
        </table>
    </div>
</div>


<style>
    .checked {
        color: orangered;
    }
</style>