@using Test_Online.Models
@model IEnumerable<Subject>

<div class="agileits_w3layouts_banner_nav" style="background-color:white">
    <nav class="navbar navbar-default">
        <div class="navbar-header navbar-left">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h1><a class="navbar-brand" href="@Url.Action("Index","Home")"><i>T</i><span>est Online</span></a></h1>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
            <nav class="menu--iris">
                <ul class="nav navbar-nav menu__list">
                    <li class="menu__item menu__item--current"><a href="@Url.Action("Index","Home")" class="menu__link">Trang chủ</a></li>
                    <li><a href="@Url.Action("Index","News")" class="menu__link">Tin tức</a></li>
                    <li class="dropdown menu__item">
                        <a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown">Thi thử<b class="caret"></b></a>
                        <ul class="dropdown-menu agile_short_dropdown">
                            @for (int i = 0; i < Model.Count(); i++)
                            {
                                <li><a href="@Url.Action("OptionTest", "Exam", new { @subjectId = Model.ElementAt(i).Id})">@Model.ElementAt(i).Name</a></li>
                            }
                        </ul>
                    </li>
                    <li class="dropdown menu__item">
                        <a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown">Luyện thi<b class="caret"></b></a>
                        <ul class="dropdown-menu agile_short_dropdown">
                            @for (int i = 0; i < Model.Count(); i++)
                            {
                                <li><a href="@Url.Action("Index", "Topic", new {@subjectId = Model.ElementAt(i).Id})">@Model.ElementAt(i).Name</a></li>
                            }
                        </ul>
                    </li>
                    <li class="dropdown menu__item">
                        <a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown">Tài liệu<b class="caret"></b></a>
                        <ul class="dropdown-menu agile_short_dropdown">
                            @for (int i = 0; i < Model.Count(); i++)
                            {
                                <li><a href="@Url.Action("Index", "Document", new {@subjectId = Model.ElementAt(i).Id})">@Model.ElementAt(i).Name</a></li>
                            }
                        </ul>
                    </li>
                    <li class="menu__item menu__item--current">
                        
                            <input class="btn-default btn" type="search" name="Search" placeholder="Tìm kiếm" required="">
                            <button id="btnsearch" type="submit" class="btn-default btn"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                       
                    </li>
                </ul>

            </nav>
        </div>
    </nav>
</div>

<hr />