@using Test_Online.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/web/Home_Layout.cshtml";

    IEnumerable<News> lstNews = ViewBag.lstNews;
    IEnumerable<Topic> lstTopicMath = ViewBag.lstTopicMath;
    IEnumerable<Topic> lstTopicPhysical = ViewBag.lstTopicPhysical;
    IEnumerable<Topic> lstTopicChemistry = ViewBag.lstTopicChemistry;
    IEnumerable<Subject> lstSubject = ViewBag.lstSubject;

}

<div class="banner-bottom">
    <div class="container">
        <div style="height: 30px; background-color:#ede7e7;">
            <span style="color:darkslateblue; font-size: 25px; font-weight:bold">Tin tức giáo dục</span>
        </div>
        <div class="agileits_banner_bottom_grids">
            
            @for (int i = 0; i < lstNews.Count(); i++)
            {
                <div class="col-md-3 agileits_banner_bottom_grid">
                    <div class="hovereffect w3ls_banner_bottom_grid">
                        <div class="hovereffect w3ls_banner_bottom_grid">
                            <img height="150" src="@Url.Content("~/Content/common/images/" + lstNews.ElementAt(i).Image)" alt=" " />
                        </div>

                    </div>
                    <div class="w3-agile-post-info">
                        <div>
                            <span style="font-size: 12px; font-style:italic; color:darkslateblue">By admin</span>
                            <span style="font-size: 12px; font-style:italic; color:#ef5050">@lstNews.ElementAt(i).Created_Time</span>
                        </div>
                        <div style="font-size: 11px;font-weight: bold">
                            @Html.Raw(lstNews.ElementAt(i).title)
                        </div>
                    </div>
                </div>
            }

            <div class="clearfix"> </div>
        </div>

        <div style="height: 30px; background-color:#ede7e7;">
            <span style="color:darkslateblue; font-size: 25px;font-weight:bold">Thư viện đề thi</span>
        </div>

        <div class="agileits_banner_bottom_grids">
            @for (int i = 0; i < lstSubject.Count(); i++)
            {
                <div class="col-md-3 agileits_banner_bottom_grid">
                    <div class="hovereffect w3ls_banner_bottom_grid">
                        <img height="150" src="@Url.Content("~/Content/common/images/" + lstSubject.ElementAt(i).Image)" alt=" " />
                    </div>
                    <div class="w3-agile-post-info" style="margin : 20px; text-align:center">
                        <a href="@Url.Action("ToTest", "Exam", new { @subjectId = lstSubject.ElementAt(i).Id})" style="color:black; font-size: 13px; font-weight: bold">@lstSubject.ElementAt(i).Name</a>

                    </div>
                </div>
            }


            <div class="clearfix"> </div>
        </div>

        
        <div style="height: 30px; background-color:#ede7e7;">
            <span style="color:darkslateblue; font-size: 25px;font-weight:bold">Ôn tập các chủ đề</span>
        </div>
       
        <div class="agileits_banner_bottom_grids">
            @for (int i = 0; i < lstTopicMath.Count(); i++)
            {
                <div class="col-md-3 agileits_banner_bottom_grid">
                    <div class="hovereffect w3ls_banner_bottom_grid">
                        <img height="150" src="@Url.Content("~/Content/common/images/" + lstTopicMath.ElementAt(i).Image)" alt=" " />
                    </div>
                    <div class="w3-agile-post-info" style="margin : 20px; text-align:center">
                        <a href="#" style="color:black; font-size: 13px; font-weight: bold">@lstTopicMath.ElementAt(i).Name</a>
                       
                    </div>
                </div>
            }
            
           
            <div class="clearfix"> </div>
        </div>

       
        <div class="agileits_banner_bottom_grids">
            @for (int i = 0; i < lstTopicPhysical.Count(); i++)
            {
                <div class="col-md-3 agileits_banner_bottom_grid">
                    <div class="hovereffect w3ls_banner_bottom_grid">
                        <img height="150" src="@Url.Content("~/Content/common/images/" + lstTopicPhysical.ElementAt(i).Image)" alt=" " />
                    </div>
                    <div class="w3-agile-post-info" style="margin : 20px; text-align:center">
                        <a href="#" style="color:black; font-size: 13px; font-weight: bold">@lstTopicPhysical.ElementAt(i).Name</a>

                    </div>
                </div>
            }


            <div class="clearfix"> </div>
        </div>

       
        <div class="agileits_banner_bottom_grids">
            @for (int i = 0; i < lstTopicChemistry.Count(); i++)
            {
                <div class="col-md-3 agileits_banner_bottom_grid">
                    <div class="hovereffect w3ls_banner_bottom_grid">
                        <img height="150" src="@Url.Content("~/Content/common/images/" + lstTopicChemistry.ElementAt(i).Image)" alt=" " />
                    </div>
                    <div class="w3-agile-post-info" style="margin : 20px; text-align:center">
                        <a href="#" style="color:black; font-size: 13px; font-weight: bold">@lstTopicChemistry.ElementAt(i).Name</a>

                    </div>
                </div>
            }


            <div class="clearfix"> </div>
        </div>

       
    </div>
</div>




