@using Test_Online.Models
@model IEnumerable<Member>

@{
    ViewBag.Title = "Thành viên";
    Layout = "~/Areas/Admin/Views/Layout/admin/Admin_Layout.cshtml";
}

<div class="header">
    <h2>Quản Lý Thành Viên</h2>
    <div style="height:1px;background-color:black; margin-top: 10px"></div>

</div>
@if (Model != null)
{
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Mã thành viên</th>
                <th>Tên </th>
                <th>Email</th>
                <th>Cấp độ </th>
                <th>Loại thành viên</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td>@Model.ElementAt(i).Id</td>
                    <td>@Model.ElementAt(i).Name</td>
                    <td>@Model.ElementAt(i).Email</td>
                    <td>@Model.ElementAt(i).Rank</td>
                    <td>@Model.ElementAt(i).Type_Member.Name</td>
                    <td>@Html.ActionLink("Sửa", "Edit", new { @Id = @Model.ElementAt(i).Id })</td>
                    <td>@Html.ActionLink("Xóa", "Delete", new { @Id = @Model.ElementAt(i).Id })</td>
                </tr>
            }
        </tbody>
    </table>
}
<style>
    .gridFooter {
        border: 1px solid black;
        color: white;
        font-weight: bold;
        font-size: 25px;
        text-align: center;
    }

    .gridRow {
        background-color: #e6d8d8;
    }

    .header {
        text-align: center;
        margin-top: 20px;
    }
</style>

